<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<a class="btn btn-success" href="/home/blog/createBlog/">Create your blog</a>
<body>
<div id="Home_page">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #56FCBA">
        <div class="container-fluid">
            <a class="navbar-brand">KiwiMusic</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"
                 style="text-decoration: none;color: black; font-size: large ">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/blog/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/wiki/">Wiki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/">Home</a>
                    </li>
                </ul>
                <ul class="nav justify-content-end">
                   {% if user.is_authenticated %}
                    Your profile: {{ user.username }}
                    <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-primary" href="{% url 'signup' %}">Register</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <ul>
        <h4>ฺBlog name List</h4>
    </ul>
    {% if blog_name %}
    <ul>
        {% for each_name_blog in blog_name %}
        <li><a href="/home/blog/{{ each_name_blog.blog_name }}/user_name/">{{ each_name_blog.blog_name }}</a></li>
        <a>created by {{ each_name_blog.creator }}</a>
        <a>Date {{ each_name_blog.pub_date }}</a>
        {% endfor %}
    </ul>
    {% else %}
    <p>No any blogs.</p>
    {% endif %}
</body>
</html>