:root {
	--web-view-ids: Blog_detail;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#home {
	left: 1047px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ../../../;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#blog {
	left: 1222px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ../../;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#wiki {
	left: 1364px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ../../../wiki;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#logo-banner {
	position: absolute;
	width: 535px;
	height: 301px;
	left: 154px;
	top: -22px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 206px;
	height: 48px;
	left: 1517px;
	top: 105px;
	overflow: visible;
}
#Login_rectangle {
	fill: rgba(255,255,255,1);
}
.Login_rectangle {
	filter: drop-shadow(-5px -5px 15px rgba(16, 187, 119, 0.471));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 93px;
	left: 0;
	top: 0;
}
#Register_rectangle {
	fill: rgba(66,180,127,1);
}
.Register_rectangle {
	filter: drop-shadow(7px -5px 15px rgba(16, 187, 119, 0.471));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 93px;
	left: 103px;
	top: 0;
}
#Login {
	left: 27px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(62,161,95,1);
}
#Register {
	left: 117px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Blog_detail{
	position: absolute;
	width: 100%;
	height: 1080px;
	background: linear-gradient(180deg, rgba(93,236,167,1) 0%, rgba(67,217,230,1) 100%);
	overflow: hidden;
}
#Blog_white_rectangle {
	fill: rgba(255,255,255,1);
}
#Blog_white_rectangle {
	position: absolute;
	overflow: visible;
	width: 1612px;
	height: 700px;
	left: 154px;
	top: 226px;
}
#Blog_Bar {
	position: absolute;
	width: 1221px;
	height: 607px;
	left: 250px;
	top: 315px;
	overflow: visible;
}

#blogbar_rectangle_bn {
	fill: url(#blogbar_rectangle_bn);
}
.blogbar_rectangle_bn {
	position: absolute;
	overflow: visible;
	width: 1221px;
	height: 83px;
	left: 0;
	top: 0;
}
#blogbar {
	left: 37px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: left;
	font-family: Junegull;
	font-style: normal;
	font-weight: normal;
	font-size: 51px;
	color: rgba(255,255,255,1);
}
#blog_message{
	position: absolute;
	overflow: scroll;
	width: 1400px;
	height: 300px;
	left: 260px;
	top: 420px;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
    color:black;
}
.btn-success {
	padding: 10px 20px;
	font-size: 30px;
	border-radius: 10px;
}

#blog_comment {
	left: 280px;
	top: 725px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(54,65,63,1);
}