#Home_page {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(93,236,167,1) 0%, rgba(67,217,230,1) 80%);
	overflow: hidden;
}

#home {
	left: 1047px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#blog {
	left: 1222px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: blog;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#wiki {
	left: 1364px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: wiki;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}

#logo-banner {
	position: absolute;
	width: 535px;
	height: 301px;
	left: 154px;
	top: -22px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 300px;
	height: 48px;
	left: 1517px;
	top: 105px;
	overflow: visible;
}
#Login_rectangle {
	fill: rgba(255,255,255,1);
}
.Login_rectangle {
	filter: drop-shadow(-5px -5px 15px rgba(16, 187, 119, 0.471));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 93px;
	left: 0;
	top: 0;
}
#Register_rectangle {
	fill: rgba(66,180,127,1);
}
.Register_rectangle {
	filter: drop-shadow(7px -5px 15px rgba(16, 187, 119, 0.471));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 93px;
	left: 103px;
	top: 0;
}
#Login {
	left: 27px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(62,161,95,1);
}
#Register {
	left: 117px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#WELCOME_TO {
	left: 716px;
	top: 279px;
	position: absolute;
	overflow: visible;
	width: 489px;
	white-space: nowrap;
	text-align: left;
	font-family: Junegull;
	font-style: normal;
	font-weight: normal;
	font-size: 91px;
	color: rgba(255,255,255,1);
}
#logo {
	position: absolute;
	width: 483px;
	height: 483px;
	left: 719px;
	top: 379px;
	overflow: visible;
}
