#Wiki_page {
	position: absolute;
	width: 100%;
	height: 50%;
	background: linear-gradient(180deg, rgba(93,236,167,1) 0%, rgba(67,217,230,1) 80%);
	overflow: visible;
}

#home {
	left: 900px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ../;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#blog {
	left: 1080px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#wiki {
	left: 1240px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ../wiki;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}

#logo-banner {
	position: absolute;
	width: 535px;
	height: 301px;
	left: 154px;
	top: -22px;
	overflow: visible;
}

#Group_1 {
	position: absolute;
	width: 300px;
	height: 48px;
	left: 1400px;
	top: 100px;
	overflow: visible;
}

#Logout_button {
	position: absolute;
	width: 300px;
	height: 48px;
	left: 82px;
	top: 7px;
	overflow: visible;
}
#Login_button {
	position: absolute;
	width: 300px;
	height: 48px;
	left: -50px;
	top: 7px;
	overflow: visible;
}
#Signup_button {
	position: absolute;
	width: 300px;
	height: 48px;
	left: 60px;
	top: 7px;
	overflow: visible;
}

#Login_rectangle {
	fill: rgba(255,255,255,1);
}

.Login_rectangle {
	filter: drop-shadow(-5px -5px 15px rgba(16, 187, 119, 0.471));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 93px;
	left: 0;
	top: 0;
}

#Register_rectangle {
	fill: rgba(66,180,127,1);
}

.Register_rectangle {
	filter: drop-shadow(7px -5px 15px rgba(16, 187, 119, 0.471));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 93px;
	left: 103px;
	top: 0;
}

#Login {
	left: 27px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(62,161,95,1);
}

#Register {
	left: 117px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}

#Spotify {
	left: 200px;
	top: 309px;
	font-family: Dosis;
	position: absolute;
	overflow: visible;
	width: 1500px;
}

#song_list{
	position: absolute;
	left: 400px;
	top: 230px;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	overflow: visible;
}