:root {
	--web-view-ids: Wiki_page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Wiki_page {
	position: absolute;
	width: 100%;
	height: 2713px;
	background: linear-gradient(180deg, rgba(93,236,167,1) 0%, rgba(67,217,230,1) 100%);
	overflow: hidden;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Wiki_white_rectangle {
	fill: rgba(255,255,255,1);
}
.Wiki_white_rectangle {
	position: absolute;
    overflow: visible;
    width: 1612px;
    height: 2328px;
    left: 130px;
    top: 226px;
}
#wiki {
	left: 1047px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}

#home {
	left: 1047px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#blog {
	left: 1222px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: blog;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#wiki {
	left: 1364px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: wiki;
	cursor: pointer;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}

#logo-banner {
	position: absolute;
	width: 535px;
	height: 301px;
	left: 130px;
	top: -22px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 206px;
	height: 48px;
	left: 1517px;
	top: 105px;
	overflow: visible;
}

#Search_icon_Class {
	position: absolute;
	width: 37px;
	height: 42px;
	left: 570px;
	top: 360px;
	overflow: visible;
}
#Search_Class input[type=text]{
    padding: 8px;
	left: 620px;
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 380px;
	white-space: nowrap;
	text-align: left;
	font-family: Dosis;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	background-color:#D8D8D8;
    color:black;
	border: none;
}

#Line {
	fill: rgba(60,60,60,1);
}
.Line {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 1px;
	left: 630px;
	top: 330px;
}